.postulaciones-empleado-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.table {
    width: 100%;
    margin-top: 20px;
    background-color: white;
}

.btn-primary {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-primary:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}
