/* Estilos generales para el dashboard del Jefe de RRHH */
.jefe-dashboard-container {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f9;
    padding: 20px;
}

/* Estilos para el navbar */
.jefe-header {
    margin-bottom: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  /* Asegura que el navbar esté por encima de otros elementos */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 1.2rem;
    margin-right: 10px;
}

.navbar-nav .btn {
    background-color: transparent;
    border: none;
    color: #fff; /* Color blanco para mantener consistencia */
}

.navbar-nav .btn:hover {
    background-color: #2980b9;
    color: #fff !important;
}

/* Añadir margen superior para evitar que el contenido quede detrás del navbar */
.jefe-main-content {
    display: flex;
    justify-content: center;
    margin-top: 70px; /* Ajustar según el alto del navbar */
}

/* Estilos para las tarjetas de información */
.info-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 500px;
}

.info-card h2 {
    margin-bottom: 10px;
}

.info-card p {
    color: #555;
}

/* Botones de acciones */
.action-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.action-btn:hover {
    background-color: #2980b9;
}

.eliminar-btn {
    background-color: #e74c3c;
    color: white;
}

.eliminar-btn:hover {
    background-color: #c0392b;
}
